.footer {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__icons {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    width: 10rem;
    li {
      border: solid 1px rgb(209, 209, 209);
      width: 2.2rem;
      height: 2.2rem;
      text-align: center;
      border-radius: 50%;
      padding: 0.25rem;
      color: $Blue;
      transition: 250ms ease-in;
      &:hover {
        background-color: $Blue;
        color: white;
      }
    }
  }

  &__copyright {
    font-size: $font-sm;
    text-align: center;
    opacity: 70%;
    margin-bottom: 2rem;
  }
}
