//Colors
$Blue: hsl(223, 87%, 63%);
$PaleBlue: hsl(223, 100%, 88%);
$LightRed: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);

//Font Sizes
$Body-font: 1.25rem; //20px
$font-sm: 0.875rem; // 14px
$font-err: 0.7rem; // 11.2px
$font-med: 1.125rem; //18px
